fastapi==0.89.1

#ASGI server
uvicorn[standard]

#for database
sqlalchemy==1.4.46
psycopg2-binary

#data validation
pydantic
pydantic[email]

#env
python-dotenv

#auth
passlib[bcrypt] 
# fastapi-jwt-auth
python-multipart
python-jose[cryptography]


